<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--网关端口-->
    <add key="port" value="7777"/>
    <!--数据库类型-->
    <add key="DbType" value="mysql"/>
    <!--数据库IP-->
    <add key="DbHost" value="127.0.0.1"/>
    <!--数据库端口-->
    <add key="DbPort" value="3306"/>
    <!--数据库用户-->
    <add key="DbUser" value="root"/>
    <!--数据库密码-->
    <add key="DbPassword" value="root"/>
    <!--商户编号-->
    <add key="appid" value=""/>
    <!--商户密钥-->
    <add key="appkey" value=""/>
    <!--算法密钥-->
    <add key="key" value=""/>
    <!--充值SQL语句-->
    <add key="sql" value=""/>
  </appSettings>
</configuration>